body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-bold", sans-serif;
}

p {
  color: #ffffff;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
  margin-right: 500px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  color: #fff;
  font-family: "Montserrat-light";
}

/* Download Buttons */
.download-buttons {
  margin: 5% 3% 5% 0;
}

/* heading section */
.big-heading {
  /* font-family: "Montserrat-Black", sans-serif; */
  font-family: 'Caveat', cursive;
  color: #fff;
  font-size: 5rem;
  line-height: 1.5;
  text-align: center;
}

.section-heading {
  font-size: 1.5rem;
}

.container-fluid {
  padding: 7% 15%;
}

/* title section */
#title {
  background-color: #A2DBFA;
  color: #000000;
}

#title .container-fluid {
  padding: 3% 15% 17%;
}

/* title-image */
.bear-image {
  width: 10%;
  transform: rotate(-25deg);
  position: absolute;
  left: 100px;
  top: 120px;
}

.cloud1 {
  width: 10%;
  position: absolute;
  right: 570px;
  top: 400px;
  z-index: 2;
}

.cloud2 {
  width: 15%;
  position: absolute;
  right: 670px;
  top: 450px;
  z-index: 2;
}
.elephant-reading
{
  width: 20%;
  position: absolute;
  top: 400px;
  left: 30px;
}
.storytelling-image {
  width: 40%;
  position: absolute;
  right: 10px;
  top: 140px;
}


/* carousel section */
#carousel {
  background-color: #77ACF1;
  color: #fff;
}

.carousel-item {
  padding: 10% 15%;
}
.cta-images
{
  width: 20%;
}
.carousel-text {
  color: #fff;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
  font-family: 'Caveat', cursive;
}

/* stories section */
#stories {
  padding: 50px;
  background-color: #A2DBFA;
}

.stories-text-h2 {
  color: #ffffff;
  font-family: 'Caveat', cursive;
  font-size: 8rem;
  line-height: 1;
}

.stories-column {
  padding: 3% 2%;
}

/* call to action---section */
.call-action {
  background-color: #77ACF1;
  padding: 5% 12%;
}

.cta-text {
  font-family: 'Otomanopee One', sans-serif;
  color: #fff;
  font-size: 3.5rem;
}

/* footer section */
.ftr {
  padding: 5px ;
  background-color: #A2DBFA;
  margin-bottom: 0;
}
.ftr-icon {
  padding: 2.5rem 1rem 1rem;
}
.footer-images
{
  width: 5%;
  padding: 0 1rem 1rem;
}
@media (max-width: 1028px)
{
    .title {
      text-align: center;
      font-size: 2.5rem;
    }
    .big-heading{
      text-align: center;
      font-size: 72px;
    }
    .storytelling-image
    {
      position: absolute;
      top: 300px;
      right: 50px;
      width: 40%;
    }
    .bear-image {
      position: relative;
      width: 25%;
      top: -310px;
      left: 250px;
    }
    .elephant-reading{
      width: 30%;
    }
    .cloud1{
      width: 0;
    }
    .cloud2{
      width: 0;
    }
  .ftr-icon
  {
    margin: 0;
    padding: 1rem ;
  }
  .footer-images
  {
    width: 5%;
  }

}
